---
---

@import "thesmoothie";

.app__logo {
	position: relative;
	left: -4rem;
}

.app__logo__image svg {
	width: 20rem;
	height: 20rem;
}

.app__logo__title {
	font-size: 6rem;
	line-height: 6rem;
    margin-top: 6rem;
}

h1 {
	max-width: 720px;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	margin-top: 2rem;
}